{% extends 'boards/base.html' %}
{% load static %}

{% block content %}
  <h1>DETAIL</h1>
  {% if board.image %}
    <img src="{{ board.image.url }}" alt="{{ board.image }}">
  {% else %}
    <img src="{% static 'boards/images/no_img.png' %}" alt="no_img">
  {% endif %}
  <h2>{{ board.pk }} 번째 글</h2>
  <hr>
  <p>제목 : {{ board.title }}</p>
  <p>내용 : {{ board.content }}</p>
  <p>작성 시각 : {{ board.created_at }}</p>
  <p>수정 시각 : {{ board.updated_at }}</p>
  <hr>
  <!-- 댓글 출력 -->
  <p>{{ comments | length }} 개의 댓글</p>
  {% for comment in comments %}
    <li>
      {{ comment.content }}
      <form action="{% url 'boards:comments_delete' board.pk comment.pk %}" method="POST"  style="display: inline">
        {% csrf_token %}
        <input type="submit" value="삭제">
      </form>
    </li>
  {% empty %}
    <p><b>댓글이 없어요..</b></p>
  {% endfor %}
  <hr>
  <!-- 댓글 입력 -->
  <form action="{% url 'boards:comments_create' board.pk %}" method="POST">
    {% csrf_token %}
    <label for="content">Comment</label>
    <input type="text" name="content" id="content">
    <input type="submit" value="submit">
  </form>
  <hr>
  <a href="{% url 'boards:update' board.pk %}">[수정]</a>
  <form action="{% url 'boards:delete' board.pk %}" method="POST" style="display: inline" onsubmit="return confirm('R U SURE??')">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form><br>
  <hr>
  <a href="{% url 'boards:index' %}">메인 페이지로</a>
{% endblock %}

